body{
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    background-color: black;
    background-image: url("../imgs/space_background.jpg");
    background-repeat: space;
    background-attachment: fixed;
    font-size: 20px;
    margin: 1% 2%;
    padding: 0;
}
header{
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

h1{
    font-size: 50px;
    line-height: 1;
    text-align: center;
    padding: 50px 0;
}

h2{
    font-size: 30px;
    line-height: 1;
    text-align: center;
    text-decoration: underline;
}
p{
    font-size: 24px;
    text-align: center;
}
img{
    /* display: block; */
    margin: auto;
    overflow: hidden;
    /* padding: 10px;*/
}
.apps img{
    width: 95%;
    height: 200px;
    margin: 1%;
}
figure{
    width: 95%;
    border: 2px solid white;
    margin: 15px;
}
div{
    padding: 25px;
    /* min-height: 150px; */
}
.External_Docs a{    
    color: #ffffff;
    line-height: 2;
    /* list-style-image: url("../imgs/vega_logo.png"); */
}
.RASA a{
    color: #ffffff;
    line-height: 1.5;
    /* list-style-image: url("../imgs/vega_logo.png"); */
}
footer {
    text-align: center;
    position: sticky;
    padding-bottom: 2px;
    padding-right: 10px;
    padding-top: 20px;
}
nav li{
    display: inline;
    padding: 3%
}
nav{

    width: 100%;
    background-color: rgba(255, 255, 255, .25);
}
nav ul{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;   
}
nav a{
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
}
nav a:hover, nav a:focus{
    text-decoration: underline;
}
.active{
    font-weight: bold;
    text-decoration: underline;
}

body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
form {
    border: 3px solid #f1f1f1;
} 
legend{ 
    font-size: 125%;
    font-style:italic;
    text-transform: uppercase;
    text-align: center;
}
label{
    display: inline-block;
    margin-right:10px;
    width:90%;
}
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
span{
    margin-left:20%;
    font-family: italic;
    font-weight: bold;
} 
textarea{
    width: 100%;
    height: 35vh;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input[type=checkbox]{
      display:inline;
      width:inherit;
}
input[type=submit] {
    background-color: #38803C;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    opacity: 0.8;
}

.grid_container{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: 
}

.img_container{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}
.apps{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    /* flex-basis: 400px; */
    /* min-height: 700px; */
}

.grid_container li {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    background-color: rgba(255, 255, 255, .25);
}

.skip a{
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  
    /*Your code here*/
    position:absolute;
    top: -40px;
}
  
  .skip a:focus{
    top:0px
}
  
/* form{
    width: 80%;
    margin: 0 auto;
}
input{
    width:80%;
}
textarea{
    width:80%;
    height: 25vh;
}
div + label{
    line-height: 25vh;
    vertical-align:top;
}  */
@media screen and (min-width: 750px){
    figure{
        width: 45%;

    }
    nav li{
        display: inline;
        padding: 0%;
    }

    .apps{
        flex-direction: row;
        flex-wrap: wrap;
    }

    label{
        width: 15%;
    }

    form{
        width: 80%;
        margin: 0 auto;
    }
    input{
        width:80%;
    }
    textarea{
        width:80%;
        height: 25vh;
    }
    div + label{
        line-height: 25vh;
        vertical-align:top;
    }
    .flip-card {
        background-color: black;
        width: 300px;
        height: 200px;
        /* border: 1px solid #f1f1f1; */
        /* perspective: 1000px; Remove this if you don't want the 3D effect */
      }
      
      /* This container is needed to position the front and back side */
      .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: 0.8s;
        /* transform-style: preserve-3d; */
      }
      
      /* Do an horizontal flip when you move the mouse over the flip box container */
      .flip-card:hover .flip-card-inner {
        transform: rotateX(180deg);
      }
      
      /* Position the front and back side */
      .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
      }
      
      /* Style the front side (fallback if image is missing) */
      .flip-card-front {
        /* background-color: #bbb; */
        color: black;
      }
      
      /* Style the back side */
      .flip-card-back {
        /* background-color: dodgerblue; */
        color: black;
        transform: rotateY(180deg);
      }
}
@media screen and (min-width: 1100px){
    figure{
        width: 25%;
    }

    nav li{
        display: inline;
        padding: 0%;
    }
    nav{
        background-color: rgba(255, 255, 255, .25);
        padding: 30px 0px;
        text-align: center;
        vertical-align: center;
    }

        /* list-style-image: "imgs/claws_logob.png"; */
    
    nav ul{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items:center;
        
    }

    nav a{
        color: #ffffff;
        font-weight: bold;
        text-decoration: none;
        font-size: 25px;
    }
    .External_Docs {
        font-size: 30px;
    }
    .RASA {
        font-size: 30px;
    }

    .grid_container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .apps{
        display: flex;
        min-height: 500px;
        flex-direction: column;
        justify-content: center;
        flex-flow: row wrap;
        align-content: center;
    }

    html{
        scroll-behavior: smooth;
    }

    .tile--css_animations__demo3 {
        background: rgb(0, 0, 0);
        overflow: hidden;
        /* padding-top: -20px; */
        margin: 0 auto;

    }
    .tile--css_animations__demo3 span {
        position: relative;
        display: block;
        width: 100%;
        height: 0;
        padding-top: 78%;
        padding-left: 0%;
        padding-bottom: 0%;
        /* overflow: hidden; */
    }
    .tile--css_animations__demo3 div {
        margin-top: -8.5%;
        height: 25%;
        width: -1%;
        top: 30%;
        border-radius: 20px;
        position: absolute;
    }
    .tile--css_animations__demo3 div:nth-of-type(1) {
        animation: wave 17s 0.000s linear infinite;
    }
    .tile--css_animations__demo3 div:nth-of-type(2) {
        animation: wave 17s -16.227s linear infinite;
    }
    .tile--css_animations__demo3 div:nth-of-type(3) {
        animation: wave 17s -15.455s linear infinite;
    }
    .tile--css_animations__demo3 div:nth-of-type(4) {
        animation: wave 17s -14.682s linear infinite;
    }
    .tile--css_animations__demo3 div:nth-of-type(5) {
        animation: wave 17s -13.909s linear infinite;
    }
    .tile--css_animations__demo3 div:nth-of-type(6) {
        animation: wave 17s -13.136s linear infinite;
    }
    .tile--css_animations__demo3 div:nth-of-type(7) {
        animation: wave 17s -12.364s linear infinite;
    }
    .tile--css_animations__demo3 div:nth-of-type(8) {
        animation: wave 17s -11.591s linear infinite;
    }
    .tile--css_animations__demo3 div:nth-of-type(9) {
        animation: wave 17s -10.818s linear infinite;
    }
    .tile--css_animations__demo3 div:nth-of-type(10) {
        animation: wave 17s -10.045s linear infinite;
    }
    .tile--css_animations__demo3 div:nth-of-type(11) {
        animation: wave 17s -9.273s linear infinite;
    }
    .tile--css_animations__demo3 div:nth-of-type(12) {
        animation: wave 17s -8.500s linear infinite;
    }
    .tile--css_animations__demo3 div:nth-of-type(13) {
        animation: wave 17s -7.727s linear infinite;
    }
    .tile--css_animations__demo3 div:nth-of-type(14) {
        animation: wave 17s -6.955s linear infinite;
    }
    .tile--css_animations__demo3 div:nth-of-type(15) {
        animation: wave 17s -6.182s linear infinite;
    }
    .tile--css_animations__demo3 div:nth-of-type(16) {
        animation: wave 17s -5.409s linear infinite;
    }
    .tile--css_animations__demo3 div:nth-of-type(17) {
        animation: wave 17s -4.636s linear infinite;
    }
    .tile--css_animations__demo3 div:nth-of-type(18) {
        animation: wave 17s -3.864s linear infinite;
    }
    .tile--css_animations__demo3 div:nth-of-type(19) {
        animation: wave 17s -3.091s linear infinite;
    }
    .tile--css_animations__demo3 div:nth-of-type(20) {
        animation: wave 17s -2.318s linear infinite;
    }
    .tile--css_animations__demo3 div:nth-of-type(21) {
        animation: wave 17s -1.545s linear infinite;
    }
    .tile--css_animations__demo3 div:nth-of-type(22) {
        animation: wave 17s -0.773s linear infinite;
    }
    @keyframes wave {
        0% {
            left: -80%;
            background: #ffffff;
        }
        5% {
            background: #ffffff;
        }
        10% {
            height: 5%;
            margin-top: -2.5%;
            background: #ffffff;
        }
        15% {
            background: #ffffff;
        }
        20% {
            height: 17%;
            margin-top: -8.5%;
            background: #ffffff;
        }
        25% {
            background: #ffffff;
        }
        30% {
            height: 5%;
            margin-top: -2.5%;
            background: #ffffff;
        }
        35% {
            background: #ffffff;
        }
        40% {
            height: 17%;
            margin-top: -8.5%;
            background: #ffffff;
        }
        45% {
            background: #ffffff;
        }
        50% {
            height: 5%;
            margin-top: -2.5%;
            background: #ffffff;
        }
        55% {
            background: #ffffff;
        }
        60% {
            height: 17%;
            margin-top: -8.5%;
            background: #ffffff;
        }
        65% {
            background: #ffffff;
        }
        70% {
            height: 5%;
            margin-top: -2.5%;
            background: #ffffff;
        }
        75% {
            background: #ffffff;
        }
        80% {
            height: 17%;
            margin-top: -8.5%;
            background: #ffffff;
        }
        85% {
            background: #ffffff;
        }
        90% {
            height: 5%;
            margin-top: -2.5%;
            background: #ffffff;
        }
        95% {
            background: #ffffff;
        }
        100% {
            height: 17%;
            margin-top: -8.5%;
            left: 100%;
            background: #ffffff;
        }
    }

}
@media (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: auto;
    }
  
    .skip a{
      -webkit-transition: none; 
      transition: none;       
     }
  
    header{
      background-attachment: initial;
    }
}




/* .tile--css_animations__demo3 {
    background: rgb(0, 0, 0);
    overflow: hidden; */
    /* padding-top: 50px; */
/* } */
/* .tile--css_animations__demo3 span {
    position: relative;
    display: block;
    width: 100%;
    height: 0;
    padding-top: 78%;
    overflow: hidden;
}
.tile--css_animations__demo3 div {
    margin-top: -17%;
    height: 34%;
    width: 2%;
    top: 30%;
    border-radius: 20px;
    position: absolute;
}
.tile--css_animations__demo3 div:nth-of-type(1) {
    animation: wave 17s 0.000s linear infinite;
}
.tile--css_animations__demo3 div:nth-of-type(2) {
    animation: wave 17s -16.227s linear infinite;
}
.tile--css_animations__demo3 div:nth-of-type(3) {
    animation: wave 17s -15.455s linear infinite;
}
.tile--css_animations__demo3 div:nth-of-type(4) {
    animation: wave 17s -14.682s linear infinite;
}
.tile--css_animations__demo3 div:nth-of-type(5) {
    animation: wave 17s -13.909s linear infinite;
}
.tile--css_animations__demo3 div:nth-of-type(6) {
    animation: wave 17s -13.136s linear infinite;
}
.tile--css_animations__demo3 div:nth-of-type(7) {
    animation: wave 17s -12.364s linear infinite;
}
.tile--css_animations__demo3 div:nth-of-type(8) {
    animation: wave 17s -11.591s linear infinite;
}
.tile--css_animations__demo3 div:nth-of-type(9) {
    animation: wave 17s -10.818s linear infinite;
}
.tile--css_animations__demo3 div:nth-of-type(10) {
    animation: wave 17s -10.045s linear infinite;
}
.tile--css_animations__demo3 div:nth-of-type(11) {
    animation: wave 17s -9.273s linear infinite;
}
.tile--css_animations__demo3 div:nth-of-type(12) {
    animation: wave 17s -8.500s linear infinite;
}
.tile--css_animations__demo3 div:nth-of-type(13) {
    animation: wave 17s -7.727s linear infinite;
}
.tile--css_animations__demo3 div:nth-of-type(14) {
    animation: wave 17s -6.955s linear infinite;
}
.tile--css_animations__demo3 div:nth-of-type(15) {
    animation: wave 17s -6.182s linear infinite;
}
.tile--css_animations__demo3 div:nth-of-type(16) {
    animation: wave 17s -5.409s linear infinite;
}
.tile--css_animations__demo3 div:nth-of-type(17) {
    animation: wave 17s -4.636s linear infinite;
}
.tile--css_animations__demo3 div:nth-of-type(18) {
    animation: wave 17s -3.864s linear infinite;
}
.tile--css_animations__demo3 div:nth-of-type(19) {
    animation: wave 17s -3.091s linear infinite;
}
.tile--css_animations__demo3 div:nth-of-type(20) {
    animation: wave 17s -2.318s linear infinite;
}
.tile--css_animations__demo3 div:nth-of-type(21) {
    animation: wave 17s -1.545s linear infinite;
}
.tile--css_animations__demo3 div:nth-of-type(22) {
    animation: wave 17s -0.773s linear infinite;
}
@keyframes wave {
    0% {
        left: -55%;
        background: #ffffff;
    }
    5% {
        background: #ffffff;
    }
    10% {
        height: 10%;
        margin-top: -5%;
        background: #ffffff;
    }
    15% {
        background: #ffffff;
    }
    20% {
        height: 34%;
        margin-top: -17%;
        background: #ffffff;
    }
    25% {
        background: #ffffff;
    }
    30% {
        height: 10%;
        margin-top: -5%;
        background: #ffffff;
    }
    35% {
        background: #ffffff;
    }
    40% {
        height: 34%;
        margin-top: -17%;
        background: #ffffff;
    }
    45% {
        background: #ffffff;
    }
    50% {
        height: 10%;
        margin-top: -5%;
        background: #ffffff;
    }
    55% {
        background: #ffffff;
    }
    60% {
        height: 34%;
        margin-top: -17%;
        background: #ffffff;
    }
    65% {
        background: #ffffff;
    }
    70% {
        height: 10%;
        margin-top: -5%;
        background: #ffffff;
    }
    75% {
        background: #ffffff;
    }
    80% {
        height: 34%;
        margin-top: -17%;
        background: #ffffff;
    }
    85% {
        background: #ffffff;
    }
    90% {
        height: 10%;
        margin-top: -5%;
        background: #ffffff;
    }
    95% {
        background: #ffffff;
    }
    100% {
        height: 34%;
        margin-top: -17%;
        left: 100%;
        background: #ffffff;
    }
} */